<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.intranet.dao.IMessageDao">

    <insert id="insertMessage" parameterType="com.example.intranet.dto.MessageDto">
        INSERT INTO message (frommidx, tomidx, title, content, readyn, deleteyn, writedate)
        VALUES (#{frommidx}, #{tomidx}, #{title}, #{content}, 'N', 'N', NOW())
    </insert>

    <select id="getMessageByUser" parameterType="int" resultType="com.example.intranet.dto.MessageDto">
        SELECT *, ROW_NUMBER() OVER (ORDER BY writedate DESC) AS loopnum
        FROM msg_view
        WHERE (frommidx = #{userId} OR tomidx = #{userId}) AND deleteyn = 'N'
        ORDER BY writedate DESC
    </select>

    <select id="getMessageById" parameterType="int" resultType="com.example.intranet.dto.MessageDto">
        SELECT * FROM msg_view WHERE msidx = #{msidx}
    </select>

    <update id="updateReadStatus" parameterType="int">
        UPDATE message SET readyn = 'Y', readdate = NOW() WHERE msidx = #{msidx}
    </update>

    <update id="deleteMessage" parameterType="int">
        UPDATE message SET deleteyn = 'Y' WHERE msidx = #{msidx}
    </update>

    <select id="getMessageReceive" resultType="com.example.intranet.dto.MessageDto">
        select
        ms.*
        , mt.name as toname, mt.userid as touserid
        , mf.name as fromname, mf.userid as fromuserid
        from message ms
        left join member mt on mt.midx = ms.tomidx
        left join member mf on mf.midx = ms.frommidx
        where tomidx = #{midx} and ms.deleteyn = 'n'
        order by ms.writedate desc


    </select>

    <select id="getMessageSent" resultType="com.example.intranet.dto.MessageDto">
        select
            ms.*
             , mt.name as toname, mt.userid as touserid
             , mf.name as fromname, mf.userid as fromuserid
        from message ms
                 left join member mt on mt.midx = ms.tomidx
                 left join member mf on mf.midx = ms.frommidx
        where frommidx = #{midx} and ms.deleteyn = 'n'
        order by ms.writedate desc
    </select>


    <select id="getMessageReceiveView" parameterType="int" resultType="com.example.intranet.dto.MessageDto">
        SELECT m.msidx, m.frommidx, m.tomidx, m.title, m.content, m.writedate,
               sender.name AS fromName, receiver.name AS toName
        FROM message m
                 JOIN member sender ON m.frommidx = sender.midx
                 JOIN member receiver ON m.tomidx = receiver.midx
        WHERE m.msidx = #{msidx}
    </select>


    <select id="getMessageSentView" parameterType="int" resultType="com.example.intranet.dto.MessageDto">
        SELECT m.msidx, m.frommidx, m.tomidx, m.title, m.content, m.writedate,
               sender.name AS fromName, receiver.name AS toName
        FROM message m
                 JOIN member sender ON m.frommidx = sender.midx
                 JOIN member receiver ON m.tomidx = receiver.midx
        WHERE m.msidx = #{msidx}
    </select>




</mapper>
