.clearfix::after {content: ""; display: table; clear: both;}

input[type=button], input[type=submit], button {padding: 5px; border: 1px solid #32a2c6; border-radius: 10px; background: #50bde2; color: #fff; font-size: 1.2em; font-weight: bold; cursor: pointer;}

input[type=text], input[type=password], input[type=email], input[type=date] {padding: 5px; background: #f9f9f9; border: 0; border-bottom: 1px solid #000; outline: 0;}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=date]:focus {border-bottom: 2px solid #50bde2;}
textarea:focus {outline: 2px solid #50bde2;}

#wrap {width: 100%; max-width:1200px; margin: 0 auto;}
h2 {margin: 10px 0 30px; font-size: 2em;}
textarea {padding: 10px; background: #f9f9f9;}

.main_color {color: #50bde2;}
.sub_color {color: #fff;}
p.notice {color: #f00;}
.shadow {box-shadow: 3px 3px 10px #999;}

header {display: flex; justify-content: space-between; line-height: 60px;margin: 20px 0 40px;}
header #logo {height: 60px;}
header #logo img{height: 100%;}
header .nav {display: flex;}
header .nav li {margin-left: 20px;}
header .nav li.profile img.profileImg {display: inline-block; width: 40px; height: 40px; border: 1px solid #50bde2; border-radius: 50%; vertical-align: middle;}
header .nav li.profile span {display: inline-block;}
header .nav li.profile .messageBox {position: relative; display: inline-block; vertical-align: middle; margin-right: 10px;}
header .nav li.profile .messageBox img {display: inline-block; width: 25px;}
header .nav li.profile .messageBox i {display: none; position: absolute; top: -10px; right: -10px; width: 20px; height: 20px; background: #f00; border-radius: 50%; color: #fff; font-size: .9em; text-align: center; line-height: 20px;}
header .nav li.profile button {}

.submenu {display: flex; justify-content: space-between; margin: 20px 0;}
.submenu li {width: 50%; line-height: 50px; text-align: center; border: 1px solid #000;}
.submenu li a {display: block; width: 100%;}
.submenu li:first-child {border-radius: 5px 0 0 5px;}
.submenu li:last-child {border-radius: 0 5px 5px 0;}
.submenu li.on {border: 1px solid #32a2c6; background: #50bde2; color: #fff;}

.field {display: flex; margin: 10px 0;}
.field label {flex: 1; padding: 10px 0;}
.field div {flex: 5; padding: 10px 0;}
.field div label {margin-right: 30px;}
.field div input[type=text], .field div input[type=password], .field div input[type=email] {width: 100%; height: 40px;}
.field div select {height: 40px;}
.field div textarea {width: 100%; height: 400px; resize: none; padding: 10px;}
.field div.prevFile {}
.field div.prevFile a {display: block; margin-bottom: 10px;}
.field div #imgPrev {display: none; margin-bottom: 10px;}
.field div #imgPrev img {max-width: 500px;}

.btns {display: flex; margin-top: 30px;}
.btns input, .btns button, .btns a {flex: 1; margin-right: 10px; padding: 25px;}
.btns input:last-child, .btns button:last-child, .btns a:last-child {margin-right: 0;}

div.table {border: 1px solid #ccc; margin: 30px 0;}
div.table > div.row {display: flex; justify-content: space-between; border-bottom: 1px solid #ccc;}
div.table > div.row:last-child {border-bottom: 0;}
div.table > div.head.row > div.col {font-weight: bold;}
div.table > div.row > div.col {flex: 1; text-align: center; padding: 10px 5px;}
div.table > div.row > div.col.title {flex: 4;}
div.table > div.row > div.col span.new {font-weight: bold; color: #f00;}
div.table > div.row.empty {line-height: 200px;}

.boxBtns {margin: 20px 0;}
.boxBtns button {float: right; margin-left: 10px;}

.paging {text-align: center;}
.paging a {margin:0 5px; font-size: 1.1em; font-weight: bold;}
.paging a.on {color: #f00;}
.paging a:hover {color: #000;}

.searchBox {margin-top: 20px;}
.searchBox select {padding: 5px;}
.searchBox > div.input {display: inline-block; width: 70%; vertical-align: middle;}
.searchBox > div.input input[type=text] {width: 50%;}
.searchBox > select {display: inline-block; float: right;}

.comments {margin: 30px 0;}
.comments h3 {margin-bottom: 10px;}
.comments li {border: 1px solid #50bde2; border-bottom: 0; padding: 15px 15px 25px;}
.comments li:last-child {border: 1px solid #50bde2;}
.comments li .commentBtns {margin-bottom: 10px;}
.comments li .commentBtns small {color: #ccc;}
.comments li .commentBtns div {float: right;}
.comments li .commentBtns button {float: right; margin-left: 10px;}
.comments li textarea {width: 100%; height: 100px; resize: none;}
.comments li.empty{text-align: center; padding: 50px 0;}