section#login {display: flex; align-items: center; justify-content: center; height: 100vh;background: #f9f9f9;
    box-shadow: none;}
section#login .logo {width: 180px;margin: 0 auto;}
section#login .logo img {width: 100%;margin-bottom: 10px;}
section#login form {
    width: 100%;
    max-width: 400px;
    padding: 48px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 23px 23px rgb(0 0 0 / 13%);
}

section#join {display: flex; justify-content: center; margin-top: 50px;}
section#join form {width: 100%; max-width: 700px; padding: 20px; border: 1px solid #000; border-radius: 10px;}

.field div span {line-height: 40px;}
.field div.userid {display: flex; justify-content: space-between;}
.field div.userid input[type=text] {width: 85%;}
.field div.userid button {width: 14%; padding: 5px;}
.field div.number {display: flex; justify-content: space-between;}
.field div.number input {width: 48%;}
.field div.phone {display: flex; justify-content: space-between;}
.field div.phone select {height: 40px; text-align: center;}
.field div.phone select, .field div.phone input {width: 30%;}
.field div.address {display: flex; justify-content: space-between;}
.field div.address input[type=text] {width: 85%;}
.field div.address button {width: 10%; padding: 5px;}

.popup {width: 400px; margin: 40px auto;}