section#mypage {}
section#mypage .container {display: flex; justify-content: center;}

#profileForm{
    border: 1px solid #ccc;
    padding: 44px;
    border-radius: 10px;
    min-width: 350px;
}

section#mypage #profileForm {width: 100%; max-width: 700px; padding: 20px; border: 1px solid #000; border-radius: 10px;}

.profileInfo {display: flex; border: 1px solid #ccc; border-radius: 10px;padding: 40px; gap: 70px;}
.profileInfo .imgBox {display: flex; justify-content: center; align-items: center; flex: 1;}
.profileInfo .imgBox img {display: inline-block; width: 300px; height: 300px; margin-top: 10px; border: 2px solid #ccc; border-radius: 50%;}
.profileInfo .profileBox {flex: 2;}
.profileInfo .profileBox .field{gap: 29px;}
.profileInfo .profileBox .field label{font-weight: bold;}

.workSummaryInfo {display: flex; justify-content: space-around; margin-bottom: 30px; padding: 40px; border: 2px solid #ccc; border-radius: 20px;}
.workSummaryInfo li {width: 33%; border-right: 2px solid #ccc; text-align: center;}
.workSummaryInfo li:last-child {border-right: 0;}
.workSummaryInfo li p {margin-bottom: 20px; font-weight: bold;}
.workSummaryInfo li span {font-size: 1.3em;}
.workSummaryInfo li span small {font-size: 1rem;}
